.logo_nav {
    position: relative;
    width: 80px;
    height: 100px;
    top: 10px;
}

.my_nav {
    background-color: rgba(48, 41, 33, 0.8);
    position: relative;
    z-index: 1;
}

.my_nav .menu {
    position: relative;
    z-index: 1;
}

.menu-mobile {
    display: none;
}

.my_nav:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    pointer-events: none;
    height: 100%;
}

.hamburger-menu button {
    background: none;
    border: none;
}

.hamburger-menu {
    display: none;
}


main {
    position: relative;
    top: -100px;
}

section {
    min-height: 100vh;
}

.hero_image {
    min-height: 100vh;
    position: relative;
    background-image: url('/img/hero1.JPG');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero_image:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    pointer-events: none;
    height: 100%;
}

.hero_text {
    width: 65%;
    z-index: 1;
    text-align: center;
}

.hero_text .oltre {
    font-size: 8rem;
    font-weight: 400;
}

.hero_text h1 {
    font-size: 4rem;
    font-weight: 100;
}

#second_section {
    background-image: url('/img/bg_section2.PNG');
    background-size: cover;
    background-color: var(--white);
    position: relative;
    display: flex;
    align-items: center;
}

#second_section::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: var(--white);
    filter: opacity(0.8);
    pointer-events: none;
    height: 100%;
}

.logo_2 {
    width: 200px;
}

.second_section_body {
    position: relative;
    z-index: 1;
}

.second_section_text {
    font-size: 27px;
    font-weight: 500;
    line-height: 50px;
    text-align: center;
}

#third_section {
    background-image: url('/img/bg_section3.PNG');
    background-size: contain;
    position: relative;
    display: flex;
    align-items: center;

}

#third_section::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: var(--green);
    filter: opacity(0.5);
    pointer-events: none;
    height: 100%;
}

@media screen and (max-width: 900px) {

    .my_nav .menu-link {
        display: none;
    }

    .hamburger-menu {
        display: block;
    }

    .my_nav .hamburger-menu-button-close {
        display: none;
    }

    .menu-mobile {
        display: block;
        position: absolute;
        z-index: 2;
        text-align: center;
        line-height: 50px;
        overflow: hidden;
        height: 0;
        transition: all 1.5s;
        background-color: black;
        width: 100%;
    }

    .menu-mobile .menu-mobile-link a {
        border-bottom: 3px solid var(--green);
        padding: 5px;
    }


    .hero_text h1 {
        font-size: 35px;
    }

    .hero_text {
        text-align: center;
        width: 95%;
    }

    .hero_text .oltre {
        font-size: 75px;
    }
}